
.container404 {
    margin: 0;
    cursor: default;
}
.flex_content {
    text-align: center;
    display: flex;
    margin: 2pc;
    align-items: center;
    flex-direction: column-reverse;
}
.image {
    width: 17pc;
    filter: opacity(.5);
}