<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maple Bot | 404</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta property="og:site_name" content="Maple Bot Oficial">
    <meta name="author" id="author">
    <meta name="keywords" content="Maple Bot, Discord, Discord Bot, Top.gg, top.gg, Bot">
    <meta name="theme-color" content="#ffff89">
    <link rel="shortcut icon" href="https://webmaplebotml.up.railway.app/api/public/assets/iconMaple.png">
    <meta name="og:image" content="https://webmaplebotml.up.railway.app/api/public/assets/mapleNeko.gif">
    <meta name="description"
        content="La ruta del link que haz escrito es inexistente! por favor asegurate de escribir la correcta">
    <link rel="stylesheet" href="https://webmaplebotml.up.railway.app/api/public/styles/indexCSS.css">
    <link rel="stylesheet" href="https://webmaplebotml.up.railway.app/api/public/styles/themeCSS.css">
    <link rel="stylesheet" href="https://webmaplebotml.up.railway.app/api/public/styles/errors/err404CSS.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://webmaplebotml.up.railway.app/api/public/scripts/dataHead.js"></script>
</head>

<body onload="uploadTheme(); userTagClient(); cacaoName();">
    <div class="inicialBar-thWhite" id="navBar">
        <nav class="nav_bar">
            <ul class="nav_menu boxesCelMenu-White" id="navMenu">
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_inicial'))"
                    id="redic_inicial">Inicial</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_cmds'))" id="redic_cmds">Comandos</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_inv'))" id="redic_inv">Invitación</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_srv'))" id="redic_srv">Servidor</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_vote'))" id="redic_vote">Vota!</button>
            </ul>
        </nav>
        <nav>
            <ul class="nav_menu2">
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="mostMenu(document.getElementById('navMenu'))">Menu</button>
            </ul>
        </nav>
    </div>
    <header class="banner" id="particles-js"></header>
    <div class="flex_content">
        <img src="https://webmaplebotml.up.railway.app/api/public/assets/mapleWasted.png" class="image ocultarIzquierda"
            name="scrollByLeft">
        <div class="container404 ocultarDerecha" name="scrollByRigth">
            <h1>404</h1>
            <h3>Que ha pasao!?</h3>
            <p>La ruta que tratabas de buscar <b>(<%= pathName %>)</b> no se ha podido encontrar, por lo que este error
                se ha soltado...</p>
            <p>Para regresar a casa y volver a intentar buscar la ruta puedes <a href="/" class="link">Presionar
                    Aqui</a></p>
        </div>
    </div>
    <div id="footerTheme" class="fooTheme-white">
        <div class="boxFooter">
            <h2 id="clientUserTag"></h2>
            <div class="params">
                <a href="https://discord.gg/PKGhvUKaQN" class="paramsLink paramOption">Discord</a>
                <a href="https://discord.com/oauth2/authorize?client_id=821452429409124451&scope=bot%20applications.commands&permissions=1238334041302&redirect_uri=https%3A%2F%2Fwebmaplebotml.up.railway.app%2Fapi%2Fthanks&response_type=code"
                    class="paramsLink paramOption">Invitación</a>
                <a href="https://top.gg/bot/821452429409124451/vote" class="paramsLink paramOption">Top.gg</a>
            </div>
        </div>
        <div class="flexFooter">
            <div class="terms">
                <p>© 2021 <a href="https://discord.com/users/821452429409124451" class="link">Maple bot.</a> All rights
                    reserved. Made by <a href="https://discord.com/users/801603753631285308" class="link"
                        id="cacaoName"></a></p>
                <p> Al usar el bot estas aceptando los <a href="/terms-of-use" class="link">Terminos de uso</a> y la <a
                        href="/privacy-policy" class="link">Politica de privacidad</a></p>
            </div>
            <div class="switchBox">
                <label class="switch" onchange="changeTheme()" id="onoff-theme">
                    <input type="checkbox">
                    <span class="slider round" id="onoff-button"></span>
                </label>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://webmaplebotml.up.railway.app/api/public/scripts/scroll.js"></script>
    <script type="text/javascript" src="https://webmaplebotml.up.railway.app/api/public/scripts/scriptJS.js"></script>
    <script type="text/javascript" src="https://webmaplebotml.up.railway.app/api/public/scripts/thStyleJS.js"></script>
    <script type="text/javascript"
        src="https://webmaplebotml.up.railway.app/api/public/plugins/particles/particles.js"></script>
    <script type="text/javascript"
        src="https://webmaplebotml.up.railway.app/api/public/plugins/particles/app.js"></script>
    <script type="text/javascript"
        src="https://webmaplebotml.up.railway.app/api/public/plugins/particles/lib/stats.js"></script>
</body>

</html>