<!DOCTYPE html>
<html lang="es">

<head>
    <title>Maple Bot | Commands</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="api/public/assets/iconMaple.png">
    <meta name="theme-color" content="#ffff89">
    <meta property="og:site_name" content="Maple Bot Oficial">
    <link rel="stylesheet" href="api/public/styles/indexCSS.css">
    <link rel="stylesheet" href="api/public/styles/themeCSS.css">
    <link rel="stylesheet" href="api/public/styles/pagescss/commandsCSS.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body onload="uploadTheme();" class="theme-white">
    <div class="inicialBar-thWhite" id="navBar">
        <nav class="nav_bar"></nav>
    </div>
    <div class="container">

    </div>
    <div id="footerTheme" class="fooTheme-white">
        <div class="flexFooter">
            <div class="terms"></div>
            <div class="switchBox">
                <label class="switch" onchange="changeTheme()" id="onoff-theme">
                    <input type="checkbox">
                    <span class="slider round" id="onoff-button"></span>
                </label>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="api/public/scripts/thStyleJS.js"></script>
</body>

</html>