<!DOCTYPE html>
<html lang="es">

<head>
    <title>Maple Bot | Politica de privacidad</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Maple Bot Oficial">
    <meta name="author" id="author">
    <meta name="keywords" content="Maple Bot, Discord, Discord Bot, Top.gg, top.gg, Bot">
    <meta name="theme-color" content="#ffff89">
    <link rel="shortcut icon" href="https://webmaplebotml.up.railway.app/api/public/assets/iconMaple.png">
    <meta name="og:image" content="https://webmaplebotml.up.railway.app/api/public/assets/mapleNeko.gif">
    <meta name="description" content="Maple Bot!, estas viendo la politica de privacidad de Maple Bot"
        data-ng-src="https://webmaplebotml.up.railway.app/api/public/assets/iconMaple.png">
    <link rel="stylesheet" href="api/public/styles/indexCSS.css">
    <link rel="stylesheet" href="api/public/styles/themeCSS.css">
    <link rel="stylesheet" href="api/public/styles/pagescss/commandsCSS.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://webmaplebotml.up.railway.app/api/public/scripts/dataHead.js"></script>
</head>

<body onload="uploadTheme(); clientUser(); cacaoName();" style="padding: 0;" class="theme-white">
    <div class="inicialBar-thWhite" id="navBar">
        <nav class="nav_bar">
            <ul class="nav_menu boxesCelMenu-White" id="navMenu">
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_inicial'))"
                    id="redic_inicial">Inicial</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_cmds'))" id="redic_cmds">Comandos</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_inv'))" id="redic_inv">Invitación</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_srv'))" id="redic_srv">Servidor</button>
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="clickRedirect(document.getElementById('redic_vote'))" id="redic_vote">Vota!</button>
            </ul>
        </nav>
        <nav>
            <ul class="nav_menu2">
                <button class="navOption navOption-thWhite" name="navButton"
                    onclick="mostMenu(document.getElementById('navMenu'))">Menu</button>
            </ul>
        </nav>
    </div>
    <header class="banner" id="particles-js"></header>
    <div align="center">
        <div class="maple boxMapleWhite" id="mapleBox">
            <h1 id="clientName"></h1>
            <h3 id="clientTag"></h3>
        </div>
    </div>
    <div align="center" class="avatarBoxes">
        <div class="avatar float mapleAvatarWhite" id="mapleAvatar"></div>
    </div>
    <div class="container">
        <h1 style="text-align: center;" class="ocultar" name="scroll">Politica de Privacidad</h1>
        <div style="margin: 30px 0;" class="ocultar" name="scroll">
            <p>Esta politica es aplicada a la bot "Maple bot" de los servicios de mensajeria de Discord.</p>
            <p>Acepta la politica de privacidad de la bot al usarla.</p>
            <p>Nosotros cumplimos estrictamente con los terminos y condiciones de Discord, política de privacidad de
                Discord y Política para desarrolladores de Discord, asi como las normas de seguridad.</p>
            <p>Nosotros podemos almacenar informacion de un usuario de Discord, estos datos se obtienen a travéz de la
                API oficial de Discord. Los datos que podemos almacenar son los siguientes:</p>
            <ul style="margin-left: 30px;">
                <li>- <b>Usuario:</b> Nombre de usuario, avatar, ID, tag, fecha de creacion de la cuenta</li>
                <li>- <b>Mensajes:</b> Contenido de mensajes eliminados</li>
                <li>- <b>Servidores:</b> Nombre de servidores, icono, owner, ID, roles, canales</li>
                <li>- <b>Canales:</b> Nombre del canal, ID</li>
                <li>- <b>Roles:</b> Nombre del rol, ID</li>
            </ul>
            <p class="content-terms">Respecto a los mensajes, el bot podra leer el contenido del mensaje de servidores,
                esto para la lectura de prefix y la ejecucion de comandos de moderacion, el contenido de los mensajes
                solo podran ser leidos hasta el 30 de abril de 2022, donde se vera si el bot seguira o no leyendo
                mensajes.</p>
            <p class="content-terms">Tome en cuenta que la bot nunca pedira contraseñas ni tokens de cuentas o datos
                personales, tampoco compartira links que afecten a su cuenta de Discord, si llegara a pasar una
                situacion asi por favor repote lo mas rapido posible al equipo de seguridad de discord o al
                desarrollador oficial de la bot.</p>
            <p class="content-terms">Su seguridad en Discord es lo que mas nos importa, puede estar seguro de que sus
                datos estan almacenados de forma segura y nadie mas que usted puede acceder, editar y borrar sus datos.
            </p>
        </div>
        <hr style="margin-top: 10px;">
        <div align="center">
            <div class="ocultar mapleImgDesp float" name="scroll" id="despImg"></div>
        </div>
        <div class="contentDesp ocultar" name="scroll">
            <p>Recuerda que puedes unirte a el servidor de soporte de la bot, asi como tambien puedes apoyarla votando
                por ella en top.gg, si tienes alguna duda o sugerencia no dudes en contactar al desarollador oficial
                y recuerda seguir las normas dictadas para evitar que entres en la lista negra de la bot</p>
            <a href="https://top.gg/bot/821452429409124451">
                <img src="https://top.gg/api/widget/821452429409124451.svg">
            </a>
        </div>
    </div>
    <div id="footerTheme" class="fooTheme-white">
        <div class="boxFooter">
            <h2 id="clientUserTag"></h2>
            <div class="params">
                <a href="https://discord.gg/PKGhvUKaQN" class="paramsLink paramOption">Discord</a>
                <a href="https://discord.com/oauth2/authorize?client_id=821452429409124451&scope=bot%20applications.commands&permissions=1238334041302&redirect_uri=https%3A%2F%2Fwebmaplebotml.herokuapp.com%2Fapi%2Fthanks&response_type=code"
                    class="paramsLink paramOption">Invitación</a>
                <a href="https://top.gg/bot/821452429409124451/vote" class="paramsLink paramOption">Top.gg</a>
            </div>
        </div>
        <div class="flexFooter">
            <div class="terms">
                <p>© 2021 <a href="https://discord.com/users/821452429409124451" class="link">Maple bot.</a> All rights
                    reserved. Made by <a href="https://discord.com/users/801603753631285308" class="link"
                        id="cacaoName"></a></p>
                <p> Al usar el bot estas aceptando los <a href="/terms-of-use" class="link">Terminos de uso</a> y la <a
                        href="#" class="link">Politica de privacidad</a></p>
            </div>
            <div class="switchBox">
                <label class="switch" onchange="changeTheme()" id="onoff-theme">
                    <input type="checkbox">
                    <span class="slider round" id="onoff-button"></span>
                </label>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="api/public/scripts/scroll.js"></script>
    <script type="text/javascript" src="api/public/scripts/scriptJS.js"></script>
    <script type="text/javascript" src="api/public/scripts/thStyleJS.js"></script>
    <script type="text/javascript" src="api/public/plugins/particles/particles.js"></script>
    <script type="text/javascript" src="api/public/plugins/particles/app.js"></script>
    <script type="text/javascript" src="api/public/plugins/particles/lib/stats.js"></script>
</body>

</html>